/*navibar*/

.custom-navbar {
  background-color: #343a40;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.custom-navbar .nav-link {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.custom-navbar .nav-link:hover {
  color: #ffcc00;
}

.me-auto {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

/*footer*/

.footer {
  background-color: #343a40;
}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer p,
.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #ffcc00;
  text-decoration: none;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

/*home*/
.custom-jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  background: url("/src/assets/Image/marek-pospisil-oUBjd22gF6w-unsplash.jpg")
    no-repeat center center;
  background-size: cover;
  color: rgb(255, 253, 252);
  height: 400px; /* Adjust the height as needed */
}

.display-4 {
  font-size: 3rem;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
}

.btn-primary {
  margin-top: 20px;
  padding: 10px 20px;
}

/* Contact.css */
.contact-page {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.contact-page h1 {
  margin-bottom: 20px;
}

.contact-page p {
  margin-bottom: 40px;
}

.contact-page .form-control {
  border-radius: 0;
}

.contact-page .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0;
  padding: 10px 20px;
}

.contact-page .btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}
/* AboutPage */
.about-page {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.about-page h1 {
  margin-bottom: 20px;
}

.about-page p {
  margin-bottom: 40px;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}
/* LoginForm.css */
